/* .container{
    margin-top: 20px;
} */
.item-details{
display: flex;
flex-direction: row;
justify-content: space-between;
}
.link{
    text-decoration: none;
}
.pagi
{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.item-name
{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  position: relative;
}